.hamburger-menu {
    position: relative;
  }
  
  .menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-style: none;
    background-color: white;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 2px 0;
  }
  
  .menu-options {
    position: absolute;
    right: 0px;
    top: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.10);
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    z-index: 1;
    width: 90px;
  }
  
  .menu-option {
    padding: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: left;
  }
  