.hamburger-menu {
    position: relative;
  }
  
  .menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 2px 0;
  }
  
  .menu-options {
    position: absolute;
    right: -85px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .menu-option {
    padding: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  